.centered-text {
    text-align: center;
    font-family: Arial, serif;
}

.content{
    border-top: solid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 50%;
    /*font-size: medium;*/
    font-size: 1.2em;
}

span {
    white-space: nowrap; /* Prevent line breaks within the span */
}

a[href^="mailto:"] {
    color: #337ab7;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}

a[href^="mailto:"]:hover {
    color: #007bff;
    background-color: #f5f5f5;
}

.header-container, .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    align-items: center; /* Vertically align content */
}

.header-container img {
    width: 100%;
    max-width: 500px; /* Optional: Set a max-width for large screens */
}

.content-container {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: center; /* Horizontally center the image */
    }
    .content-container {
        text-align: left;
    }
}